* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.container {
  display: flex;
  width: 100%;
}
.box1 {
  background-color: rgb(243, 128, 51);
  width: 30%;
  padding: 10px;
}
.box2 {
  background-color: grey;
  width: 70%;
  padding: 10px;
}

.box1-detail {
  display: flex;
  justify-content: space-between;
}
.text-white {
  color: white;
}
.text-center {
  color: white;
  text-align: center;
}
.tb-head{
  color: white;
    background-color: grey;
}

.flex {
  justify-content: space-between;
  display: flex;
}

.smi {

  font-size: 30px;

}

.mr {
 
  font-size: 20px;
}

.menu {
  
 font-size: 20px;
}

.mem {
color: rgb(243, 128, 51);
font-size: 30px;
}

.yea {
  color: rgb(243, 128, 51);
  font-size: 25px;
}

.jan {
  color: rgb(243, 128, 51);
}